body{
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-color: rgb(163, 33, 33);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container{
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title{
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle{
  color:#ffffff;
  margin-top: 5px;
}

.page-logo{
  width: 200px;
}

.alura-logo{
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hello-world{
  text-align: center;
  color: #fff;
}

img{
  display: block;
  margin: 32px auto;
}

.butao{
    background-image: linear-gradient(to right, rgb(32, 27, 26), rgb(148, 138, 138));
    border: none;
    color: white;
    cursor: pointer;
    font-size: 19px;
    padding: 2px;
}